<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Corpore_Imoveis.Properties.Settings.BDTRANSFConnectionString"
            connectionString="Data Source=DEVBD;Initial Catalog=BDTRANSF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Corpore_Imoveis.Properties.Settings.CORPORE_IMO_SOAPConnectionString"
            connectionString="Data Source=AGAMENON;Initial Catalog=CORPORE_IMO_SOAP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RM_IRMSServer" />
                <binding name="RM_IwsBase" />
                <binding name="RM_IwsDataServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://agamenon.emgea.ativos:8051/wsDataServer/IRMSServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer"
                contract="DataServer.IRMSServer" name="RM_IRMSServer" />
            <endpoint address="http://agamenon.emgea.ativos:8051/wsDataServer/IwsBase"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsBase"
                contract="DataServer.IwsBase" name="RM_IwsBase" />
            <endpoint address="http://agamenon.emgea.ativos:8051/wsDataServer/IwsDataServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsDataServer"
                contract="DataServer.IwsDataServer" name="RM_IwsDataServer" />
        </client>
    </system.serviceModel>
</configuration>